@import "~prismjs/themes/prism-tomorrow.css";

.code-editor {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  padding: 20px;
  white-space: pre-wrap;
  line-height: 1.6;
  border-bottom: 1px solid #3c3c3c;
  overflow: hidden /*auto*/;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.code-editor::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.code-line {
  display: flex;
}

.code-editor.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.line-number {
  display: inline-block;
  width: 30px;
  text-align: right;
  padding-right: 10px;
  color: #858585;
}

.variable {
  cursor: pointer;
  font-weight: bold;
  user-select: none; /* Disable text selection */
}

.variable:hover {
  text-decoration: none;
}

.renamed-variable {
  color: #f0ad4e;
}
.monaco-editor .cursors-layer > .cursor {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .code-editor {
    padding: 10px;
  }

  .line-number {
    width: 20px;
    padding-right: 5px;
  }
}
