.code-editor {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
  padding: 20px;
  white-space: pre-wrap;
  line-height: 1.6;
  border-bottom: 1px solid #3c3c3c;
  overflow: auto;
}

.code-line {
  display: flex;
}

.code-editor.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.line-number {
  display: inline-block;
  width: 30px; /* Adjust the width as needed */
  text-align: right;
  padding-right: 10px;
  color: #858585;
}

.variable {
  cursor: pointer;
  font-weight: bold;
}

.variable:hover {
  text-decoration: none;
}

.renamed-variable {
  color: #f0ad4e;
}